body {
	font-family: 'Note Sans TC', sans-seref;
	font-size: 16px;
	letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Note Sans TC', sans-seref;
}

.sbheading {
	font-family: 'Note Sans TC', sans-seref;
}

body {
	text-transform: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	text-transform: none;
}

.sbheading {
	text-transform: capitalize;
}
