body {
	font-family: 'Note Sans TC', sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Note Sans TC', sans-serif;
}

.subheading {
	font-family: 'Note Sans TC', sans-serif;
}

body {
	text-transform: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	text-transform: none;
}

.subheading {
	text-transform: none;
}

.bg-primary {
	background-color: #B57FB3!important;
	background-image: url(../assets/img/diamond-upholstery.png);
}

.text-primary {
	color: #B57FB3!important;
}

a {
	color: #B57FB3;
}

.lead mb-5 {
	margin-bottom: 20px;
}
